.topBar {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background: #C34500;
    width: 100vw;
}

.topBar h2 {
    margin: 0;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.topBar nav {
    background: #373737;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    line-height: 50px;
    width: 100vw;
}

.topBar nav .unselected {
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: capitalize;
    -webkit-transition: .5s;
    transition: .5s;
}

.topBar nav .unselected:hover {
    -webkit-transition: .5s;
    transition: .5s;
    background: #af4811;
}

.topBar nav .selected {
    background: #767676;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: capitalize;
    cursor: default;
}

.extraSpace {
    margin-top: 50px;
}

.fix-place {
    position: fixed;
    top: 0;
}

.hamburgerContainer {
    width: 100vw;
    position: absolute;
    top: 0px;
    right: 0;
    background: #373737;
    padding: 2px 5px;
}

.hamburger {
    margin: auto;
    width: 50px;
}

.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

@media screen and (min-width: 900px) {
    .hamburgerContainer {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .hamburgerContainer {
        display: block;
    }
    .topBar {
        margin-top: 50px;
    }
    nav {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .fix-place {
        position: static;
        top: 0;
    }
    .extraSpace {
        margin-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .topBar h2:nth-child(2) {
        display: none;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lato', sans-serif;
/*    font-weight: 300;*/
    text-rendering: optimizeLegibility;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.content {
    padding: 0 2vw;
}

.content h2 {
    text-align: center;
    font-weight: 700;
}

.content .center {
    text-align: center;
}

li {
    list-style: none;
}

a {
    color: blue;
}

a:hover {
    color: darkblue;
}

.clubsBox {
    width: 90vw;
    background: #d7d7d7;
    margin: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.clubsBox .text {
    width: 85%;
}

.clubsBox .text h3 {
    padding: 0 10px;
    font-weight: 500;
}

.clubsBox .text p {
    padding: 0 10px;
}

.clubsBox .imgBox {
    width: 15%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

.clubsBox .imgBox img {
    width: 100%;
}

.clubsBox table {
    padding: 0 0 10px 10px;
}

.clubsBox table td {
    padding: 0 5px;
}